# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
.next/
out/
storybook-static/
build/

# Turbo
.turbo/

# Test output
coverage/
playwright-report/
test-results/

# TypeScript
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
._*

# Editors
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Changesets
.changeset/*.md
!.changeset/README.md
!.changeset/config.json

# Misc
.cache/
*.tgz
