shamefully-hoist=false
hoist=false
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*husky*
public-hoist-pattern[]=@commitlint/*
public-hoist-pattern[]=*@types/*

strict-peer-dependencies=false
auto-install-peers=true
resolve-peers-from-workspace-root=true

registry=https://registry.npmjs.org/

fetch-retries=3
network-concurrency=16

link-workspace-packages=true
prefer-workspace-packages=true

engine-strict=true
